header{
    display: flex;
    background-color: var(--bisque);
    color: var(--darkgrey);
    opacity: 90%;
    height: 80px;
    line-height: 80px;
    width: 100%;
    border-bottom: solid 1px var(--grey);
    position: fixed;
    top: 0;    
    z-index: 99;      
}
header h1{
    font-size: 24px;
    margin-left: 8rem;
    width: 70%;
}
header ul{
    display: flex;
    width: 100%;
    margin-right: 8rem;
}    
header li{
    padding: 0 10px;
    font-size: 1.25em;
    margin: 0 2rem;
}
nav a {
    color: var(--darkgrey);
}
nav a:hover {
    color: var(--grey);
}