.line{
    width: 60px;
    height: 15px;
    border-bottom: 5px solid var(--bisque);
    margin: 0 auto;
}
.title{
    text-align: center;
    padding: 10px 100px;
    color: var(--bisque);
}
.bannerText{
    padding: 20px;
    font-size: 24px;
}   
#banner{
    width: 100%;
    background-color: var(--bisque);
    overflow: hidden;
    display: flex;
}
.banner{
    background-image: url('../img/banner_003.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-width: 100%;
    text-align: center;
    padding: 300px 0;
    color: var(--grey);
}
.colorPicker{
    animation: colorPicker 2s  linear forwards;
}
@keyframes colorPicker{
    0%{
        background-image: url('../img/banner_001.png');
    }
    10%{
        background-image: url('../img/banner_000.png');
    }
    20%{
        background-image: url('../img/banner_003.png');
    }
    30%{
        background-image: url('../img/banner_002.png');
    }
    40%{
        background-image: url('../img/banner_000.png');
    }
    50%{
        background-image: url('../img/banner_004.png');
    }
    75%{
        background-image: url('../img/banner_002.png');
    }
    90%{
        background-image: url('../img/banner_004.png');
    }
    100%{
        background-image: url('../img/banner_003.png');
    }
}
.banner h2{
    color: var(--darkgrey);
}
.banner button{
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    background-color: var(--bisque);
    color: var(--darkgrey);
    border: 2px solid var(--grey);
    border-radius: 5px;
}
.banner button:hover{
    background-color: var(--darkgrey);
    color: var(--bisque);
}
#about{
    background-color: var(--darkgrey);
    text-align: center;
    color: var(--bisque);
    padding: 60px;
    scroll-margin-top: 80px;
}
.aboutText{
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
}
#skill{
    padding: 60px;
    background-color: var(--bisque);
    scroll-margin-top: 80px;
}
#skill h2{
    color: var(--darkgrey);
}
#skill .line{
    border-color: var(--darkgrey);
}
.skillBox{
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
}
.skillBox .box{
    width: 250px;
    height: 200px;
    margin: 10px;
    padding: 30px;  
    border: solid 3px var(--grey);
    border-radius: 5px;
    box-sizing: content-box;
    text-align: center;   
    transition: all 0.5s ease;
}
.skillBox h2{
    margin: 10px;
}
.skillBox p {
    line-height: 30px;
}
#work{
    text-align: center;
    background-color: var(--darkgrey);
}
#work h2{
    color: var(--bisque);
}
.work{
    height: 80vh;
    padding: 60px;
    background-image: url('../img/work_background2.png');
    background-size: cover;
    background-position: center;
}
.workBox{
    width: 890px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
}
.workBox li{
    width: 200px;
    height: 200px;
    background-color: var(--darkgrey);
    border-radius: 5px;
    margin: 10px;
}
.workBox a{
    display: block;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 1.5em;
    line-height: 200px;
    color: transparent;
    font-weight: 600;
}
.hoverEffectZero:hover{
    color:  var(--bisque);
    background-color: #c23073;  
    border-radius: 5px;  
}
.hoverEffectOne:hover{
    color:  var(--bisque);
    background-color: #dc6535;  
    border-radius: 5px;  
}
.hoverEffectTwo:hover{
    color:  var(--bisque);
    background-color: #449bce;  
    border-radius: 5px;  
}
.hoverEffectThree:hover{
    color:  var(--bisque);
    background-color: #29b7b0;  
    border-radius: 5px;  
}
.hoverEffectFour:hover{
    color:  var(--bisque);
    background-color: #7c1496;  
    border-radius: 5px;  
}
.workBox .one{
    background-image:  url('../img/group_001.jpg');
    background-position: center;
    background-size: cover;
}
.workBox .two{
    background-image:  url('../img/group_002.jpg');
    background-position: top;
    background-size: cover;
}
.workBox .three{
    background-image: url('../img/group_003.jpg');
    background-position: center;
    background-size: cover;
}
.workBox .four{
    background-image:  url('../img/group_004.jpg');
    background-position: center;
    background-size: cover;
}
.workBox .five{
    background-image:  url('../img/group_005.png');
    background-position: center;
    background-size: cover;
}
.workBox .six{
    background-image:  url('../img/group_006.jpg');
    background-position: center;
    background-size: cover;
}
.workBox .seven{
    background-image:  url('../img/group_007.jpg');
    background-position: center;
    background-size: cover;
}
.workBox .eight{
    background-image:  url('../img/group_008.jpg');
    background-position: center;
    background-size: cover;
}
